<!DOCTYPE html>
<html lang="en">

<head>
    <title>Jigsaw Unintended Bias in Toxicity Classification</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="jumbotron text-center">
        <h1>Page not found. Please go to the Homepage.</h1>
    </div>
    <form action="/home" method="get" enctype="multipart/form-data">
        <div class="container form-group padding-left">
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4 text-center">
                    <input type="submit" class="btn btn-primary" value="Go to Homepage">
                </div>
                <div class="col-sm-4">
                </div>
            </div>
        </div>
    </form>
</body>

</html>